<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>SRG.ai</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>

<body>

<div class="mobile-menu"
onclick="toggleSidebar()">

☰

</div>

<div class="sidebar">

    <div class="logo-area">

        <img src="{{ url_for('static',
        filename='logo.png') }}"
        class="logo">

        <div>

            <div class="logo-text">
                SRG<span>.ai</span>
            </div>

            <div class="tagline">
                Smart. Reliable. Genius.
            </div>

        </div>

    </div>

    <button class="new-chat"
    onclick="newChat()">

        + New Chat

    </button>

    <div class="history-section">

        <div class="history-title">
            🕘 Chats
        </div>
        <div class="search-wrapper">

    <span class="search-icon">
        🔍
    </span>

    <input
    type="text"
    id="historySearch"
    class="history-search"
    placeholder="Search chats..."
    >

</div>

        <div id="historyList"></div>

    </div>

    <button class="mode-btn"
    id="themeButton">

        ☀ Light / Dark

    </button>

    <div class="status-box">

        <div class="status-dot"></div>

        <span>
            SRG.ai Online
        </span>

    </div>

    <div class="clock"
    id="clock"></div>

</div>

<div class="sidebar-overlay" id="sidebarOverlay"></div>

<div class="main-container">

    <div class="topbar">

        <select id="modelSelect"
        class="model-select">

            <option value="llama-3.1-8b-instant">
                Llama 3.1 fast
            </option>

            <option value="llama-3.3-70b-versatile">
                Llama 3 smart
            </option>

            <option value="gemma2-9b-it">
                gemma AI
            </option>

        </select>

    </div>

    <div class="main">

        <div class="welcome">

            <h1>
                Welcome to
                <span>SRG.ai</span>
            </h1>

            <p>
                Your intelligent AI assistant
                for electronics and coding.
            </p>

        </div>

        <div class="features">

            <div class="card">
                <h3>⚡ Explain Circuits</h3>
                <p>
                    Understand electronic circuits easily.
                </p>
            </div>

            <div class="card">
                <h3>💻 Arduino Coding</h3>
                <p>
                    Generate Arduino and ESP32 code.
                </p>
            </div>

            <div class="card">
                <h3>🤖 Embedded Systems</h3>
                <p>
                    Build robotics and embedded projects.
                </p>
            </div>

        </div>


    <div class="chat-area">

        <div class="chat-messages"
        id="chatMessages"></div>

        <div class="chat-input-area">

        <div class="input-box">

            <button class="icon-btn"
            onclick="document.getElementById('imageInput').click()">

                📷

            </button>

            <input type="file"
            id="imageInput"
            hidden>

            <button class="mic-btn">

                🎤

            </button>

            <input type="text"
            id="userInput"
            placeholder="Type your message...">

            <button class="send-btn"
            onclick="sendMessage()">

                ➜

            </button>

        </div>
        </div>

    </div>

</div>

<script>

const themeButton =
document.getElementById(
    "themeButton"
);

let savedTheme =
localStorage.getItem(
    "theme"
);

if(savedTheme === "light"){

    document.body.classList.add(
        "light-mode"
    );
}

themeButton.onclick = function(){

    document.body.classList.toggle(
        "light-mode"
    );

    if(document.body.classList.contains(
        "light-mode"
    )){

        localStorage.setItem(
            "theme",
            "light"
        );

    }

    else{

        localStorage.setItem(
            "theme",
            "dark"
        );

    }
};

function updateClock(){

    let now = new Date();

    document.getElementById(
        "clock"
    ).innerHTML =
    now.toLocaleTimeString();
}

setInterval(updateClock,1000);

updateClock();

let currentChat = [];

let currentChatTitle = null;

async function sendMessage(){

    let input =
    document.getElementById(
        "userInput"
    );

    let message =
    input.value.trim();

    if(message === ""){
        return;
    }

    let chatBox =
    document.getElementById(
        "chatMessages"
    );

    document.querySelector(
        ".welcome"
    ).style.display = "none";

    document.querySelector(
        ".features"
    ).style.display = "none";

    chatBox.innerHTML += `
    <div class="user-msg">
        ${message}
    </div>
    `;

    chatBox.scrollTop =
    chatBox.scrollHeight;

    currentChat.push({
        type:"user",
        text:message
    });

    if(currentChatTitle === null){
        currentChatTitle = message;
    }

    input.value = "";

    let typingDiv =
    document.createElement("div");

    typingDiv.className = "ai-msg";

    typingDiv.id = "typing";

    typingDiv.innerHTML = `
    <div class="dot-loader">
        <span></span>
        <span></span>
        <span></span>
    </div>
    `;

    chatBox.appendChild(
        typingDiv
    );

    chatBox.scrollTop =
    chatBox.scrollHeight;

    let formData =
    new FormData();

    formData.append(
        "message",
        message
    );

    formData.append(
        "model",
        document.getElementById(
            "modelSelect"
        ).value
    );

    const imageInput =
    document.getElementById(
        "imageInput"
    );

    if(imageInput.files[0]){

        formData.append(
            "image",
            imageInput.files[0]
        );
    }

    try{

        const response =
        await fetch("/chat",{

            method:"POST",
            body:formData

        });

        const data =
        await response.json();

        document.getElementById(
            "typing"
        ).remove();

      chatBox.innerHTML += `
<div class="ai-msg">
    ${marked.parse(data.reply)}
</div>
`;

        chatBox.scrollTop =
        chatBox.scrollHeight;

        currentChat.push({

            type:"ai",
            text:data.reply

        });

        saveChat();

    }

    catch(error){

        document.getElementById(
            "typing"
        ).remove();
    }
}

function saveChat(){

    let chats =
    JSON.parse(
        localStorage.getItem(
            "srg_chats"
        )
    ) || [];

    let existingChat =
    chats.find(
        chat =>
        chat.title === currentChatTitle
    );

    if(existingChat){

        existingChat.messages =
        [...currentChat];
    }

    else{

        chats.unshift({

            title:currentChatTitle,
            messages:[...currentChat]

        });
    }

    localStorage.setItem(
        "srg_chats",
        JSON.stringify(chats)
    );

    loadHistory();
}

function loadHistory(){

    let historyBox =
    document.getElementById(
        "historyList"
    );

    historyBox.innerHTML = "";

    let chats =
    JSON.parse(
        localStorage.getItem(
            "srg_chats"
        )
    ) || [];

    const searchInput =
document.getElementById(
    "historySearch"
);

const searchText =
searchInput.value.toLowerCase();

chats = chats.filter(chat => {

    const titleMatch =
    chat.title
    .toLowerCase()
    .includes(searchText);

    const messageMatch =
    chat.messages.some(msg =>

        msg.text
        .toLowerCase()
        .includes(searchText)
    );

    return titleMatch || messageMatch;
});

    chats.forEach(chat => {
        let item = document.createElement("div");

item.className = "history-wrapper";

item.innerHTML = `

<div class="history-item">

    ${chat.pinned ? "📌 " : ""}${chat.title}

</div>

<div class="history-menu-container">

    <button class="history-menu-btn">
        ⋮
    </button>

    <div class="history-dropdown">

        <button class="pin-chat">
            📌 Pin
        </button>

        <button class="rename-chat">
            ✏ Rename
        </button>

        <button class="share-chat">
            📤 Share
        </button>
        <button class="export-chat">
            📄 Export
        </button>

        <button class="group-chat">
            👥 Group
        </button>

        <button class="delete-chat">
            🗑 Delete
        </button>

    </div>

</div>
`;



const menuBtn =
item.querySelector(".history-menu-btn");

const dropdown =
item.querySelector(".history-dropdown");

menuBtn.onclick = function(e){

    e.stopPropagation();

    document
    .querySelectorAll(".history-dropdown")
    .forEach(menu => {

        if(menu !== dropdown){

            menu.classList.remove(
                "show-dropdown"
            );
        }
    });

    dropdown.classList.toggle(
        "show-dropdown"
    );
};
item.querySelector(".pin-chat").onclick = function(e){

    e.stopPropagation();

    let chats = JSON.parse(
        localStorage.getItem("srg_chats")
    ) || [];

    chats = chats.map(c => {

        if(c.title === chat.title){

            c.pinned = !c.pinned;
        }

        return c;
    });

    chats.sort((a,b)=>
        (b.pinned===true) -
        (a.pinned===true)
    );

    localStorage.setItem(
        "srg_chats",
        JSON.stringify(chats)
    );

    loadHistory();

};

item.querySelector(".rename-chat").onclick = function(e){

    e.stopPropagation();

    let newName = prompt(
        "Enter new chat name:",
        chat.title
    );

    if(!newName || newName.trim()===""){
        return;
    }

    let chats = JSON.parse(
        localStorage.getItem("srg_chats")
    ) || [];

    chats = chats.map(c => {

        if(c.title === chat.title){

            c.title = newName;
        }

        return c;
    });

    localStorage.setItem(
        "srg_chats",
        JSON.stringify(chats)
    );

    currentChatTitle = newName;

    loadHistory();
};

item.querySelector(".delete-chat").onclick = function(e){

    e.stopPropagation();

    let chats = JSON.parse(
        localStorage.getItem("srg_chats")
    ) || [];

    chats = chats.filter(
        c => c.title !== chat.title
    );

    localStorage.setItem(
        "srg_chats",
        JSON.stringify(chats)
    );

    dropdown.classList.remove(
    "show-dropdown"
    );

    loadHistory();
};

item.querySelector(".share-chat").onclick = function(e){

    e.stopPropagation();

    let text = chat.messages
    .map(m =>
        `${m.type.toUpperCase()}:\n${m.text}`
    )
    .join("\n\n");

    navigator.clipboard.writeText(text);

    alert("Chat copied!");
};

item.querySelector(".export-chat").onclick = function(e){

    e.stopPropagation();

    let text = chat.messages
    .map(m =>
        `${m.type.toUpperCase()}:\n${m.text}`
    )
    .join("\n\n");

    let blob = new Blob(
        [text],
        {type:"text/plain"}
    );

    let link =
    document.createElement("a");

    link.href =
    URL.createObjectURL(blob);

    link.download =
    `${chat.title
    .replace(/[^a-z0-9]/gi,"_")}.txt`;

    link.click();

    dropdown.classList.remove(
        "show-dropdown"
    );
};

item.querySelector(".group-chat").onclick = function(e){

    e.stopPropagation();

    alert("Group chat feature coming soon!");
};

    historyBox.appendChild(item);

    });
}
document.addEventListener(
"click",

function(){

    document
    .querySelectorAll(".history-dropdown")
    .forEach(menu => {

        menu.classList.remove(
            "show-dropdown"
        );
    });
});

function newChat(){

    currentChat = [];

    currentChatTitle = null;

    document.getElementById(
        "chatMessages"
    ).innerHTML = "";

    document.querySelector(
        ".welcome"
    ).style.display = "block";

    document.querySelector(
        ".features"
    ).style.display = "flex";

    document.querySelector(
        ".sidebar"
    ).classList.remove(
        "active"
    );
}

const sidebar = document.querySelector(".sidebar");

const overlay = document.getElementById("sidebarOverlay");

function toggleSidebar(){

    sidebar.classList.toggle("active");

    overlay.classList.toggle("active");
}

overlay.onclick = ()=>{

    sidebar.classList.remove("active");

    overlay.classList.remove("active");
};
/* SWIPE TO CLOSE SIDEBAR */

let touchStartX = 0;

let touchEndX = 0;



sidebar.addEventListener(
"touchstart",

function(e){

    touchStartX =
    e.changedTouches[0].screenX;
});

sidebar.addEventListener(
"touchend",

function(e){

    touchEndX =
    e.changedTouches[0].screenX;

    if(touchEndX < touchStartX - 50){

        sidebar.classList.remove(
            "active"
        );
    }
});

loadHistory();

item.querySelector(".export-chat").onclick = function(e){

    e.stopPropagation();

    let text = chat.messages
    .map(m =>
        `${m.type.toUpperCase()}:\n${m.text}`
    )
    .join("\n\n");

    let blob = new Blob(
        [text],
        {type:"text/plain"}
    );

    let link =
    document.createElement("a");

    link.href =
    URL.createObjectURL(blob);

    link.download =
'${chat.title.replace(/[^a-z0-9]/gi,"_")}.txt'
    link.click();

    dropdown.classList.remove(
        "show-dropdown"
    );
};

document
.getElementById("historySearch")
.addEventListener(
"input",

function(){

    loadHistory();
});

document
.getElementById(
"userInput"
)
.addEventListener(
"keypress",

function(event){

    if(event.key === "Enter"){

        sendMessage();
    }
});

</script>
</div>
</body>
</html>